/*RESET.CSS*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET.CSS*/

body {
	font-family: 'Lato', sans-serif;
}

.wrapper {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.center {
	max-width: 1150px;
	width: 100%;
	margin: 0 auto;
}

.center2 {
	max-width: 555px;
	width: 100%;
	margin: 0 auto;
}

header {
	height: 100px;
	background-color: #f6f9f9;
}

header .logo span {
	font-size: 30px;
	font-weight: bold;
	color: #2d3950;
	position: relative;
	top: -5px;
	left: 15px;
}

header .logo {
	padding-top: 30px;
}

.container2 {
	background-image: url('../images/top_background.png');
	height: calc(100vh - 100px);
	max-height: 800px;
	background-size: cover;
	background-repeat: no-repeat;
}

.container2 h1 {
	font-size: 120px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding-top: 20vh;
}

.container2 i {
	display: block;
	width: 600px;
	height: 2px;
	background-color: #15a4fa;
	margin: 0 auto;
	margin-top: 35px;
}

.container2 p {
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	padding-top: 40px;
}

.container2 .link_top {
	text-align: center;
	padding-top: 65px;
}

.container2 .link_top a {
	text-decoration: none;
	font-size: 18px;
	word-spacing: 5px;
	color: #ffffff;
	padding-top: 70px;
	border: 1px solid #15a4fa;
	border-radius: 3px;
	padding: 20px 36px 20px 36px;
}

.container2 .link_top a:hover {
	background-color: #15a4fa;
	font-size: 20px;
	word-spacing: 5px;
}

.container2 .down svg {
	display: block;
	font-size: 20px;
	margin: 180px auto auto auto;
	color: #ffffff;
}



.container3 {
	height: 340px;
	background-color: #f6f9f9;
}

.container3 h2 {
	font-size: 40px;
	text-align: center;
	word-spacing: 10px;
	color: #2d3950;
	padding-top: 82px;
}

.container3 p {
	font-size: 20px;
	text-align: center;
	word-spacing: 6px;
	color: #999999;
	padding-top: 30px;
}




.container4 .item {
	display: inline-block;
	width: 30%;
	min-width: 300px;
	margin: 0 1.45% 65px 1.45%;
}

.container4 .item .quad {
	display: block;
	width: 100px;
	height: 100px;
	background: linear-gradient(to right, #48baff 50%, #5fc3ff 50%);
	margin: 65px auto auto auto;

}

.container4 .item .quad svg {
	display: block;
	font-size: 55px;
	padding-top: 25px;
	padding-left: 35px;
	color: #ffffff;
}

.container4 .item .telegram {
	display: block;
	width: 100px;
	height: 100px;
	background: linear-gradient(to right, #48baff 50%, #5fc3ff 50%);
	margin: 65px auto auto auto;

}

.container4 .item .telegram svg {
	display: block;
	font-size: 50px;
	padding-top: 28px;
	padding-left: 25px;
	color: #ffffff;
}

.container4 .item .share {
	display: block;
	width: 100px;
	height: 100px;
	background: linear-gradient(to right, #48baff 50%, #5fc3ff 50%);
	margin: 65px auto auto auto;
}

.container4 .item .share svg {
	display: block;
	font-size: 38px;
	padding-top: 28px;
	padding-left: 30px;
	color: #ffffff;
}

.container4 .item h3 {
	text-align: center;
	padding-top: 32px;
	font-size: 22px;
	color: #2d3950;
}

.container4 .item p {
	text-align: center;
	padding-top: 22px;
	font-size: 15px;
	color: #999999;
}


.container5 {
	height: 900px;
	background-color: #f6f9f9;
}

.container5 h2 {
	font-size: 41px;
	text-align: center;
	word-spacing: 10px;
	color: #2d3950;
	padding-top: 82px;
}

.container5 p {
	font-size: 15px;
	text-align: center;
	color: #999999;
	padding-top: 30px;
}

.container5 .gallery {
	margin-top: 80px;
}

.container5 .image {
	display: inline-block;
	width: 30%;
	margin: 1.5%;
	min-width: 345px;
	height: 250px;
}

.container5 .image img {
	max-width: 100%;
}

.container5 .image .caption {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
	background: rgba(44, 172, 247, 0.9);
	transition: all 0.7s;
	opacity: 0;
	top: -251px;
}

.container5 .image .caption:hover {
	opacity: 1;
}

.container5 .image .caption .item {
	width: 100px;
	height: 45px;
	position: absolute;
	z-index: 2;
	margin: 109px auto auto 133px;
}

.container5 .image .caption .item svg {
	color: #fff;
	padding-left: 30px;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 13px 13px 13px 13px;
}




.container6 {
	background-image: url('../images/bottom_background.png');
	height: 700px;
	background-size: 100%;
}

.container6 .img-overlay {
	width: 100%;
	height: 100%;
	background: rgba(45, 57, 80, 0.9);
}

.container6 h2 {
	font-size: 41px;
	text-align: center;
	word-spacing: 10px;
	color: #ffffff;
	padding-top: 76px;
}

.container6 p {
	font-size: 15px;
	text-align: center;
	color: #999999;
	padding-top: 19px;
}

.container6 .name {
	outline: 0 !important;
	display: block;
	width: 92.6%;
	font-size: 15px;
	padding: 25px 20px 25px 20px;
	margin-top: 50px;
	color: #999999;
	background: rgba(45, 57, 80, 0.0);
	border: 1px solid #999999;
	border-radius: 3px;
}

.container6 .email {
	outline: 0 !important;
	display: block;
	width: 92.6%;
	font-size: 15px;
	padding: 25px 20px 25px 20px;
	margin-top: 20px;
	color: #999999;
	background: rgba(45, 57, 80, 0.0);
	border: 1px solid #999999;
	border-radius: 3px;
}

.container6 .message {
	outline: none;
	resize: none;
	display: block;
	width: 92.6%;
	height: 112px;
	font-size: 15px;
	padding: 25px 20px 25px 20px;
	margin-top: 20px;
	background: rgba(45, 57, 80, 0.0);
	border: 1px solid #999999;
	border-radius: 3px;
}

.container6 .message:hover {
	color: #fff;
	border: 1px solid #fff;
}

.container6 .email:hover {
	color: #fff;
	border: 1px solid #fff;
}

.container6 .name:hover {
	color: #fff;
	border: 1px solid #fff;
}

.container6 .checkbox {
	display: inline-block;
	width: 17px;
	height: 17px;
	cursor: pointer;
	padding-right: 5px;
	margin: 35px auto auto auto;
}

.container6 span {
	display: inline-block;
	position: absolute;
	font-size: 15px;
	color: #fff;
	margin: 36px auto auto 14px;
}

.container6 .submit {
	float: right;
	width: 142px;
	height: 47px;
	font-size: 18px;
	color: #fff;
	background: rgba(45, 57, 80, 0.0);
	border: 1px solid #15a4fa;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 20px;
}
.container6 .submit:hover {
	background-color: #15a4fa;
}


footer {
	height: 90px;
	background-color: #f6f9f9;
}
footer span {
	font-size: 15px;
	color: #999999;
	vertical-align: 13px;
	padding-right: 70.4%;
}
footer .facebook, .twitter, .google_plus, .linkedin, span{
	display: inline-block;
}
footer .facebook svg {
	font-size: 14px;
	color: #fff;
	background-color: #15a4fa;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 13px 16px 13px 16px;
	margin: 25px 0px auto auto;
}
footer .twitter svg {
	font-size: 14px;
	color: #fff;
	background-color: #15a4fa;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 13px 13px 13px 13px;
	margin: 25px 0px auto auto;
}
footer .google_plus svg {
	font-size: 14px;
	color: #fff;
	background-color: #15a4fa;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 13px 11px 13px 12px;
	margin: 25px 0px auto auto;
}
footer .linkedin svg {
	font-size: 14px;
	color: #fff;
	background-color: #15a4fa;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 13px 14px 13px 14px;
	margin: 25px auto auto 0px;
}

a {
	text-decoration: none;
}


@media(max-width:1250px) {
	.center {
		width: 90%;
	}

	.container4 .item {
		width: 43%;
		margin: 1.45% 3%;
	}

	.container4 .item {
		display: block;
		width: 50%;
		margin: 1.45% auto;
	}
}

@media(max-width:425px) {
	.container5 .gallery .item_img {
		min-width: 280px;
	}
}

@media(max-width:768px) {
	.container2 i {
		width: 80%;
	}
}

@media(max-width:592px) {
	.container2 h1 {
		font-size: 70px;
	}
}

@media(max-width: 592px) {
	.container6 form textarea {
		width: 90%;
		height: 90%;
	}

	.container6 form input {
		width: 90%;
		height: 90%;
	}
}

@media(max-width:375px) {
	.container4 .item {
		min-width: 255px;
	}
}